
/*date 25 january 2013 ---------------------------------*/
.topbluStrip { width:auto; background:url(../../images/topblu_strip.jpg) 0 0 repeat-x;}
.topbluStrip .inner { margin:0 auto; width:980px; height:60px;background: url("../../images/newimages/banner_center.jpg") no-repeat scroll 0 0 transparent;}
ul.nav { padding-top:24px; list-style:none;}
ul.nav li { padding-right:9px; float:left;}
ul.nav li a { padding-left:11px; height:36px; display:block; float:left; color:#ffffff; font-size:14px; background:url(../../images/tabbg.jpg) 0 0 no-repeat;}
ul.nav li a:hover, ul.nav li a.sel { color:#333333; text-decoration:none; background:url(../../images/tabbg_hover.jpg) 0 0 no-repeat;}
ul.nav li a:hover span, ul.nav li a.sel span { color:#333333; background:url(../../images/tabbg_hover.jpg) right 0 no-repeat;}

.colorPalet {}

.gryroundbgTop { width:980px; height:44px; position:absolute; left:0; top:0; background:url(../../images/gry_round_topbg.jpg) 0 0 no-repeat;}
ul.steptab { padding-left:1px; list-style:none;}
ul.steptab li { padding-right:2px; float:left; background:url(../../images/grytab_sep.jpg) right 0 no-repeat;}
ul.steptab li span { padding:16px 22px 0 22px; height:28px; font-size:14px; color:#7f7f7f; float:left; display:block; background:url(../../images/grytab.jpg) 0 0 repeat-x; }
ul.steptab li span.sel { color:#333333; background:url(../../images/grytab_hover.jpg) 0 0 repeat-x; }
ul.steptab li.first span.sel { color:#333333; background:url(../../images/grytab_lft.png) 0 0 no-repeat; }

.colorPanel { width:219px; background:url(../../images/color_pickerbg.png) 0 0 repeat-y;}
.colorPanel .toppart { width:219px; background:url(../../images/color_pickerbg_top.png) 0 0 no-repeat;}
.colorPanel .botpart { padding:10px 0; width:219px; background:url(../../images/color_pickerbg_bot.png) 0 bottom no-repeat;}
.colorPanel h3 { padding:0 0 10px 28px; margin:0 10px; font-weight:normal; font-size:18px; color:#333333; background:url(../../images/picker_icon.png) 0 0 no-repeat;}
.colorPanel .grnbtn { width:auto;}
.colorPanel .grnbtn a { padding-top:8px; margin:0 auto; width:192px; height:39px; display:block; text-decoration:none; text-align:center; font-family: 'helveticaneuelt_std_med_cnRg'; text-shadow:1px 1px #668547; font-size:18px; color:#ffffff; background:url(../../images/grnbtnbg.png) 0 0 no-repeat;}

#colorSelector { position:relative; width:36px; height: 36px; background: url(../../images/select.png);}
#colorSelector div { position:absolute; top:3px; left:3px; width:30px; height:30px; background:url(../../images/select.png) center;}
#colorSelector2 { position:absolute; top:0; left:0; width:36px; height:36px; background:url(../../images/select2.png);}
#colorSelector2 div { position:absolute; top:4px; left:4px; width:28px; height:28px; background:url(../../images/select2.png) center;}
#colorpickerHolder2 { top:32px; left:0; width:356px; height:0; overflow:hidden; position:absolute;}
#colorpickerHolder2 .colorpicker { background-image:url(../../images/custom_background.png); position:absolute; bottom:0; left:0;}
#colorpickerHolder2 .colorpicker_hue div {  background-image:url(../../images/custom_indic.gif);}
#colorpickerHolder2 .colorpicker_hex { 	background-image:url(../../images/custom_hex.png);}
#colorpickerHolder2 .colorpicker_rgb_r { background-image:url(../../images/custom_rgb_r.png);}
#colorpickerHolder2 .colorpicker_rgb_g { background-image:url(../../images/custom_rgb_g.png);}
#colorpickerHolder2 .colorpicker_rgb_b { background-image:url(../../images/custom_rgb_b.png);}
#colorpickerHolder2 .colorpicker_hsb_s { background-image:url(../../images/custom_hsb_s.png); display:none;}
#colorpickerHolder2 .colorpicker_hsb_h { background-image:url(../../images/custom_hsb_h.png); display: none;}
#colorpickerHolder2 .colorpicker_hsb_b { background-image:url(../../images/custom_hsb_b.png); display: none;}
#colorpickerHolder2 .colorpicker_submit { background-image:url(../../images/custom_submit.png);}
#colorpickerHolder2 .colorpicker input { color:#778398;}
.pickerLine { padding:10px; background:url(../../images/dual_border.png) 0 bottom repeat-x;}
.pickerLine.last { background:none;}
.pickerLine .hd { padding-bottom:5px; color:#333333; font-weight:bold;}
.pickerLine .fld { padding-top:6px; float:right; width:150px;}
.pickerLine .inpt { padding:2px; width:58px; border:1px solid #8f8f8f;}
.customWidget { position:relative; height:36px; float:left;}

.cuponBox { width:695px; background:#dcdfe4;}
.cuponBox h2 { text-align: center; padding: 0px; margin: 0px; font-size: 21px; line-height: 32px; color: #535456; font-weight: normal;}
.loginField {padding-bottom: 10px;}
.loginField .field { padding: 0 10px; background: url("images/field_bg.png") repeat-x scroll 0 0 transparent; border:1px solid #CDD1DB; height:28px; width:251px;}		
.loginField textarea { padding: 5px 10px; background: url("images/field_bg.png") repeat-x scroll 0 0 transparent; font-family:Arial, Helvetica, sans-serif; font-size:1em; border:1px solid #CDD1DB; height:50px; width:351px;}
.loginField .button { cursor:pointer; width:88px; height:37px; color:#ffffff; font-weight:bold; float:left; border:0px; background: url("images/button_bg.png") repeat-x scroll 0 0 transparent; }
.loginField .button:hover { background: url("images/button_bg_hover.png") repeat-x scroll 0 0 transparent;  }
.loginField a { line-height: 37px; float: right; font-family: Arial; color: #000000; font-size: 14px; text-decoration: none; padding-right: 28px;}}

.cuponBox .parentTabel { height: 100%; position: relative; border: 10px solid #f4f4f4}
.cuponBox .topbg { padding:5px 5px 0 5px;}
.cuponBox p {padding:0px; margin: 0px; text-align:center; font-size:19px; line-height:32px; color:#535456;}
.cuponBox p span {	font-size:27px; color:#2e789f; font-weight:bold; line-height:32px;}
.cuponBox .middlecont { padding:0px 5px 0px 5px;}
.cuponBox .logoImg { padding: 0px 5px 0 6px;}
.cuponBox .logoImg img { margin-top: 3px; min-width: 100px; width: 100%;}
.cuponBox .tabelPart { padding: 5px 4px 0px 4px;}
.cuponBox .innerTabel { padding-bottom: 1px; background: #fff; padding: 5px 5px 0px 5px; border: 1px solid #b2b3b7; border-bottom: 0px;}
.cuponBox .innerTabel td { padding: 3px 4px; background: #ffffff; font-size: 12px; line-height: 18px; font-size: 80%; color: #000000;}
.cuponBox .innerTabel .toprow td { background: #2d769c; font-size: 12px; line-height: 18px; color: #ffffff; font-weight: bold;}
.cuponBox .innerTabel td { padding: 3px 4px; background: #ffffff; font-size: 12px; line-height: 18px; font-size: 80%; color: #000000;}
.cuponBox .innerTabel .grybg td { background:#F3F3F3;}
.cuponBox .botTabelbg { border-top: 4px solid #ffffff;  border-bottom: 1px solid #dcdfe4; background:#2e789f;}
.cuponBox .bordertxt { text-align: center; padding-bottom: 5px; border-bottom: 1px dashed #aabcc5;}
.cuponBox .botdata { padding-left: 16px; padding-top: 3px; font-size: 15px; color: #ffffff;}
.cuponBox .sharetxt { font-size:15px; color: #ffffff;}
.cuponBox .loginPopup {display: none; left: 17%; padding: 6px 15px; position: absolute; top: 15px; width: 401px; background: #fff; border: 5px solid #dddddd;}
.cuponBox .loginBg { width: 100%; float: left; padding: 0px; margin: 0px;}
.cuponBox .loginHd { border-bottom: 1px solid #BDBDBD; color: #000000; font-family: 'Trebuchet MS'; font-size: 18px; font-weight: normal; margin: 0; padding: 0 0 8px;}
.cuponBox .sharecupon { font-size:12px; color:#ffffff;}
.cuponBox .btmLink { float:left; background:#ffffff; border:1px solid #d6d7da; font-size:11px; color:#838080; text-decoration:none; padding:0 8px; height:17px;}
.cuponBox .bottomsec { padding: 0px 5px 5px 5px;}
.cuponBox .btmTxt { padding-left:10px; background:#dcdfe4; text-align:left; line-height:27px; font-size:12px; color:#848484;}
.cuponBox .social img { width:40%;}
.cuponBox .social img.msg { width:44%;}
.cuponBox .listimg img { width:84%;}
.cuponBox .loginHd .closeImg img { width:120%;}
.cuponBox .loginHd .closeImg a { position:absolute; top:-16px; right:-4px;}

.fldForm { width:604px; float:left; position:relative;}
.formPop { position:absolute; top:-5px; right:0; width:288px; display:none; color:#215200; line-height:24px; font-size:14px; background:url(../../images/formpop.jpg) 0 0 repeat-y;}
.formPop .upper { padding:12px 13px 14px 21px; width:254px; background:url(../../images/formpop_top.jpg) 0 0 no-repeat;}
.smlFld { margin-left:10px; width:50px; float:left; border:1px solid #c3ccda;}
.smlSelect { padding:5px 2px 5px 3px; width:50px; font-size:14px; color:#707070; border:2px solid #ffffff;}
.formFldsimple { width:296px;}
.userface { width:auto;}
.userface a { margin-right:10px; float:left;}
.userface img { border:1px solid #e0e0e0;}
.userface .fl { margin-top:16px;}
.fldLabel .outer { padding-left:48px; color:#707070;}
.formFldsml { width:124px; border:1px solid #c3ccda;}
.formInptsml { padding:5px 3px; width:114px; font-size:14px; color:#707070; border:2px solid #ffffff;}
.smlinptFld { width:65px; border:1px solid #c3ccda;}
.smlinpt { padding:5px 3px; width:55px; font-size:14px; color:#707070; border:2px solid #ffffff;}
.fldLabel { padding:8px 6px 0 0; width:200px; float:left; font-size:14px; color:#333333;}
.formbtnSml { width:112px; height:37px; color:#ffffff; font-size:18px; text-shadow:1px 1px #678749; border:none; cursor:pointer; font-family: 'helveticaneuelt_std_med_cnRg'; background:url(../../images/btnbg.png) 0 0 no-repeat;}
.formbtnsspace { padding:2px 0 0 0;}

/*changing on 25 january 2013, before copy following CSS please remove old classes which are with same nameing as following.*/
.toprightBtn ul li .toppopup ul li a { padding:0 12px 0 12px; float:none; color:#4c4c4c; background:none;}
.toprightBtn .inner { padding:3px 5px 3px 0; height:32px; float:left; background:url(../../images/topright_btnbg_rgt.png) right 0 no-repeat;}
.toprightBtn ul li label { padding:2px 2px 2px 17px; display:inline-block; background:url(../../images/dolor_sign.png) 0 2px no-repeat; vertical-align:middle;}
.menu li a { text-decoration: none; display: block; float:left; height: 47px; line-height: 38px; color: #ffffff; }

/*date 28 january 2013 ----------*/
.botspaceInner { padding-bottom:80px; width:auto;}
.grnlink { font-weight:bold; color:#669836 !important; font-size:12px !important;}
.grnlink a { font-weight:bold; color:#669836 !important;}
.grnlink a:hover { color:#000000 !important;}
h2.bluhed .grnlink, h2.bluhedBorder .grnlink { padding-top:7px;}

.reportbg { margin-bottom:15px; width:954px; position:relative; background:url(../../images/reportbg.jpg) 0 0 repeat-y;}
.reportbg .upper { width:954px; background:url(../../images/reportbg_top.jpg) 0 0 no-repeat;}
.reportbg .lower { background:url(../../images/reportbg_bot.jpg) 0 bottom no-repeat; padding:10px;}
.reportbg ul { list-style:none;}
.reportbg ul li { width:233px; float:left; text-align:center; background:url(../../images/report_arrow.jpg) center 68px no-repeat;}
.reportbg ul li span { padding-left:10px; display:inline-block; height:60px; font-size:30px; color:#003162; font-weight:bold; background:url(../../images/report_list.jpg) 0 0 no-repeat;}
.reportbg ul li span.rt { padding:12px 24px 0 14px; display:inline-block; height:48px; background:url(../../images/report_list.jpg) right 0 no-repeat;}
.reportbg ul li label { padding-top:28px; font-size:14px; color:#333333; font-weight:bold; display:block;}

.dashLeft { padding-right:43px; width:450px; float:left;}
.dashRight { width:450px; float:left;}
.graphBox { padding-bottom:12px;}
.postLine { padding-bottom:8px; margin-bottom:10px; border-bottom:1px solid #b0b0b0;}
.postimage img { width:51px; height:50px;}
.postTxt .hd  { padding-bottom:4px; font-weight:bold; color:#2d9de3;}
.postTxt .hd a { color:#2d9de3;}
.postTxt .hd a:hover { color:#2668aa;}
.postTxt .grnlink { padding-bottom:3px; font-size:11px !important;}
.postTxt p { padding-bottom:3px; color:#333333; line-height:16px;}
.time { font-size:11px; color:#707070;}

.campaignbox { padding:1px 0; width:447px; border:1px solid #d8d8d9;}
.campaignbox .topsec { padding:8px 12px 5px 12px;}
.campaignbox .image { width:55px; float:left;}
.campaignbox .txt { width:355px; float:right;}
.campaignbox .hd { padding-bottom:6px; font-weight:bold; color:#085baf;}
.campaignbox .hd a { color:#085baf;}
.campaignbox .hd a:hover { color:#000000;}
.campaignbox p { padding-bottom:5px; color:#333333; line-height:16px;}
.campaignbox .grtxt { font-size:11px; color:#898888;}
.botblustrip .lft { width:148px; float:left; color:#333333;}
.botblustrip .lft span { font-size:22px; font-weight:bold; color:#61a922; display:block;}
.botblustrip .rgt { width:265px; float:right; font-size:11px; color:#585757;}
.botblustrip .links { float:right;}
.botblustrip ul { list-style:none;}
.botblustrip ul li { padding-right:4px; margin-right:3px; display:inline; background:url(../../images/gry_sep.jpg) right 3px no-repeat;}
.botblustrip ul li.last { padding-right:0; margin-right:0; background:none;}
.botblustrip ul li a { color:#085baf;}
.botblustrip ul li a:hover { text-decoration:none; color:#585757;}

a.greenbtn { padding:8px 0 0 45px; width:160px; height:37px; vertical-align:middle; text-decoration:none; color:#ffffff; font-size:22px; text-shadow:1px 1px #678749; border:none; display:inline-block; font-family: 'helveticaneuelt_std_med_cnRg'; background:url(../../images/greenbtn.jpg) 0 0 no-repeat; filter:alpha(opacity=100); -moz-opacity:1; opacity:1;}
a.greenbtn:hover { filter:alpha(opacity=70); -moz-opacity:.7; opacity:.7;}
a.grybtn { padding-top:8px; width:181px; height:29px; display:inline-block; font-size:18px; vertical-align:middle; color:#ffffff; text-shadow:1px 1px #67696b; font-family: 'helveticaneuelt_std_med_cnRg'; text-align:center; background:url(../../images/gry_btn.jpg) 0 0 no-repeat; filter:alpha(opacity=100); -moz-opacity:1; opacity:1;}
a.grybtn img { margin-right:10px; display:inline; vertical-align:middle;}
a.grybtn:hover { text-decoration:none; filter:alpha(opacity=70); -moz-opacity:.7; opacity:.7;}
.midbottgrybg a.greenbtn, .midbottgrybg a.grybtn { margin-right:10px;}

.divinputfile {float:left; position:relative; background: url(../../images/browse-btn.jpg) no-repeat right; height:33px; width:295px;}
.filepc {opacity: 0.0; -moz-opacity:0.0; filter:alpha(opacity=00); font-size:14px; color:#000; height:36px; cursor:pointer; width:200px; float: right;}
.fakeinputfile{ position:absolute;}
.fakefilepc {float:left; width:194px; height:26px; padding:5px; border:0px solid #000; color: #000; background:none; font-size:14px;}

/*changing on 28 january 2013, before copy following CSS please remove old classes which are with same nameing as following.*/
.formBanner.formBanner1 { padding: 14px 0 0 0; width: 337px; background: url(../../images/popup_top.png) left top no-repeat; }

/*date 29 january 2013 --------------------------*/
.radioTxt { padding:0 20px 0 2px; vertical-align:middle; font-weight:bold; color:#333333; font-size:13px;}
.radioinpt { vertical-align:middle;}

/*date 30 january 2013 --------------------------*/
.priceTxt { padding:10px 0 0 148px; width:auto; line-height:18px; color:#6b6b6b;}

/*changing on 30 january 2013, before copy following CSS please remove old classes which are with same nameing as following.*/
.midInner .mid { padding:3px 13px 0 13px; width: 954px; background: url(../../images/mid_inner_mid.png) repeat-y; }
.postimage { padding-top:2px; width:51px; float:left;}
.postTxt  { width:388px; float:right;}
h2.bluhed { padding-bottom:8px; font-size:22px; color:#2668aa; font-weight:normal; overflow:hidden;}
h2.bluhedBorder { padding-bottom:6px; margin-bottom:10px; font-size:22px; color:#2668aa; font-weight:normal; overflow:hidden; border-bottom:1px solid #d8d8d9;}
.botblustrip { padding:7px 8px 0px 12px; background:#f0f5fa;}
ul.nav li a span { padding:11px 21px 0 10px; height:25px; display:block; float:left; color:#ffffff; cursor:pointer; background:url(../../images/tabbg.jpg) right 0 no-repeat;}
.postBox { width:auto; background:url(../../images/mapbg.jpg) center top no-repeat;}
